DEBUG=True
ALLOWED_HOSTS=['*']
SECRET_KEY="sq!u&zl04^94@dv8cfq9a%)1^mh)%^m)%^agx$^)tgao_q&(g6"
SENDGRID_API_KEY="<enter key here>"
AWS_ACCESS_KEY_ID="<enter aws id here>"
AWS_SECRET_ACCESS_KEY="<enter aws secret key here>"
AWS_REGION_NAME="<enter aws region name here>"